@charset "utf-8";
/* CSS Document */
/*
Name: Responsive Landingpage
*/

/******************  Table of Contents  *****************************

1. GLOBAL STYLES
2. HEADER
3. IPHONE MOCKUP
4. SUBSCRIBE FORM
5. FOOTER
6. SOCIAL ICONS
7. CUSTOM MEDIA QUERIES

*/

/*==========1. GLOBAL STYLES==============*/


body {
        font-family:"Open Sans", Arial, Helvetica, sans-serif;
        background:url(../images/noise-bg.jpg) repeat #f5f5f5;
}
/*==========2. HEADER==============*/

.jumbotron {
        position: relative;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
        background:url(../images/subtle-bg.jpg) no-repeat #6D7077; /* Old browsers */
        height:548px;
        background-size:100% 100%;
        overflow:hidden;
}


/* Height Fix for layout 2 and 3
------------------------- */
#layout2 .jumbotron, #layout2 .jumbotron {
min-height:548px;
height:auto;
}


/* Masthead
------------------------- */
.masthead {
        margin-bottom: 0;
        color: #fff;
}
.masthead h1 {
        font-size: 50px;
        line-height: 1;
        letter-spacing: -2px;
}
.masthead p {
        font-size: 40px;
        font-weight: 200;
        line-height: 1.25;
}
.jumbotron .container {
        padding-top:50px;
}
/*==========3. IPHONE MOCKUP==============*/


.mockup {
        background:url(../images/iphone-mockup.png) top center no-repeat;
        height:450px;
        margin-top:30px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
}
.mockup:hover {
        margin-top:-20px;
}
.shadow {
        position:absolute;
        bottom:0;
        left: 50%;
        margin-left: -240px;
}
/*==========4. SUBSCRIBE FORM==============*/


.subscribe {
        text-align:center;
        padding-top:50px;
}
.subscribe h2 {
        font-size:38px;
        font-weight:600;
        color:#0e0d0d;
        line-height: 1;
        letter-spacing: -2px;
}
.subscribe h4 {
        font-size:24px;
        font-weight:400;
        color:#0e0d0d;
        line-height: 1.75;
}
.subscribe .input-xxlarge {
        height:50px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        font-size:24px;
        font-weight:400;
        line-height: 50px;
        padding:4px 10px;
        margin: 15px 0;
        margin-right:15px;
}
.subscribe .btn-warning {
        color:#996633;
        font-size:24px;
        font-weight:600;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.50);
        background-color: #febd4d;
 *background-color: #febd4d;
        background-image: -moz-linear-gradient(top, #feda71, #feba48);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#feda71), to(#feba48));
        background-image: -webkit-linear-gradient(top, #feda71, #feba48);
        background-image: -o-linear-gradient(top, #feda71, #feba48);
        background-image: linear-gradient(to bottom, #feda71, #feba48);
        background-repeat: repeat-x;
        border-color: #f89406 #f89406 #ad6704;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeda71', endColorstr='#fffeba48', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
}
.subscribe button.btn.btn-large {
        padding: 19px 40px;
}
/*==========5. FOOTER==============*/


.footer {
        text-align:center;
        padding-bottom:50px;
        padding-top:20px;
}
.footer.footertext {
        color:#919191;
        font-size:12px;
        font-weight:300;
}
/*==========6. SOCIAL ICONS==============*/

.socialicons a.icons {
        width:32px;
        height:32px;
        display:inline-block;
        margin-right:15px;
        background:url(../images/social-icons.png) no-repeat;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
}
.socialicons a.icons.facebook {
        background-position:0 0;
}
.socialicons a.icons.facebook:hover {
        background-position:0 -33px;
}
.socialicons a.icons.twitter {
        background-position:-33px 0;
}
.socialicons a.icons.twitter:hover {
        background-position:-33px -33px;
}
.socialicons a.icons.linkedin {
        background-position:-66px 0;
}
.socialicons a.icons.linkedin:hover {
        background-position:-66px -33px;
}
/*==========7. COUNTDOWN TIMER==============*/

.Wrapcountdown {
        margin-top:50px;
}
.Wrapcountdown p {
        font-size:22px;
}
ul#countdown, ul#countdown li {
        list-style:none;
}
ul#countdown li {
        display: inline-block;
        width: 104px;
        margin-top: 1em;
        text-align: center;
}
ul#countdown li span {
        font-size: 3em;
        font-weight: bold;
        color: #FFF;
        height: 108px;
        line-height: 1.0;
        position: relative;
}
ul#countdown li p.timeRefDays, ul#countdown li p.timeRefHours, ul#countdown li p.timeRefMinutes, ul#countdown li p.timeRefSeconds {
        margin-top: 1em;
        color: #FFF;
        text-transform: uppercase;
        font-size: .875em;
}
/*==========8. SUBSCRIBE FORM LAYOUT 2 Fix==============*/

.jumbotron .subscribe {
        padding-top:35px;
}
/*==========9. TWITTER FEED LAYOUT 3 Fix==============*/

.masthead #ticker, .masthead .query {
        font: 120% Georgia, "Times New Roman", Times, serif;
        color: #FFF;
        text-align:center;
}
.masthead #ticker p {
        font-size:120%;
}


/*==========10. CUSTOM MEDIA QUERIES==============*/


/*MEDIA QUERIES*/

@media (max-width: 767px) {
.jumbotron {
padding: 20px 20px;
margin-top: -20px;
margin-right: -20px;
margin-left: -20px;
}
}